# Cache e arquivos de compilação do Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Firebase (Arquivos gerados automaticamente)
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Configurações do Android
.gradle/
local.properties
*.kwks
*.keystore
*.jks
project.properties

# Configurações do iOS
.generated/
Pods/
DerivedData/
Runner.xcworkspace
!default.mode1v3
!default.pbxuser
!default.perspectivev3
xcuserdata/

# Chaves e Segredos (MUITO IMPORTANTE)
# Se você tiver chaves de API em arquivos .env, ignore-os aqui
.env*
google-services.json
GoogleService-Info.plist

# IDEs (VS Code, IntelliJ, etc)
.vscode/
.idea/
*.iml